body{
    margin: 0;
}

.content-wrapper{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

.content{
    width: 80%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: red;
}

a:hover{
    text-decoration: underline;
}
